{{set . "title" .restaurantName}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Public Health API</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Search: {{.restaurantName}}</h1>
      <ul>
      {{range .restaurants}}
        <li>{{.Name}}</li>
      {{end}}
      </ul>
      <a href="/">Back to form</a>
    </div>
  </div>
</div>

{{template "footer.html" .}}
